[submodule "lib/CachedBuffers"]
	path = lib/CachedBuffers
	url = https://github.com/d-mozulyov/CachedBuffers.git
[submodule "lib/UniConv"]
	path = lib/UniConv
	url = https://github.com/d-mozulyov/UniConv.git
